<script>

 
	jQuery(document).ready(function() {

		function spinIn() {
    		$('#spinner').css('display', 'inline');
		}

		function spinOut() {
   		 $('#spinner').css('display', 'none');
		}

		$('.control-content').load('pages/contacts/all.html');


		$('.control-item').click(function() {
			spinIn();

		var page = $(this).attr('href');

		$('.control-content').fadeOut('fast',loadContent);

		function loadContent() {
			$('.control-content').load(page,'',showNewContent);
		}

		function showNewContent() {
			$('.control-content').fadeIn('fast',spinOut);
		}

		var title = $(this).attr('rel');
		$('.title').text(title);


	});

	});
 
</script>
<div class="segmented-control">
  <a class="control-item active" href="pages/contacts/all.html" rel="All Contacts" data-ignore="push">
    All
  </a>
  <a class="control-item" href="pages/contacts/groups.html" rel="Contact Groups" data-ignore="push">
    Groups
  </a>
  <a class="control-item" href="pages/contacts/add.html" rel="Add Contact" data-ignore="push">
    Add Contact
  </a>
</div>

<div class="control-content active"></div>
