<script>

  $(document).ready(function() {
    
    function spinIn() {
    $('#spinner').css('display', 'inline');
}

function spinOut() {
    $('#spinner').css('display', 'none');
}

spinOut();

var url = 'http://178.62.41.199/bulksms/';
            //  var url = 'http://sms.bbnplace.com/new/api/';
            var app_id = '10000';
            
          var session_token = localStorage.getItem('session_token');


    var profile = JSON.parse( localStorage.getItem('profile') );

    $('#first_name').val(profile.settings.first_name);
    $('#last_name').val(profile.settings.last_name);
    $('#mobile').val(profile.settings.mobile);
    $('#organization').val(profile.settings.organization);

    spinOut();

    $('#settings_form').submit(function(event) {
      $first_name = $('#first_name').val();
      $last_name = $('#last_name').val();
      $mobile = $('#mobile').val();
      $organization = $('#organization').val();

      if ($first_name == '' || $last_name == '' || $mobile == '' || $organization == '') {
        alert('All fields are required');
      }else{

spinIn();

        $.ajax({
    'url': url+'users/edit/'+session_token+'.json',
    'type': 'POST',
    'data': {'email': profile.settings.email, 'last_name': $last_name, 'first_name': $first_name, 'mobile': $mobile, 'organization': $organization, 'full_name': $first_name+" "+$last_name}
  }).done( function (data) {

    if (data.response == 'Saved') {

      alert('Your profile has been successfully updated');

      $.getJSON(url+'users/get_settings/'+session_token+'.json', function(data) {
    
    localStorage.setItem('profile', JSON.stringify(data));
    var user = JSON.parse( localStorage.getItem('profile') );

    $('.full_name').text(user.settings.first_name+" "+user.settings.last_name);
    $('.email').text(user.settings.email);
    $('.mobile').text(user.settings.mobile);

    
});
    }else{
      alert(data.response);
    }

    spinOut();

    

    });


      }

    });
//end of user update profile

$('#requestBtn').click(function(event) {
  spinIn();

  $.getJSON(url+'users/request_token/'+profile.settings.mobile+'.json', function(data) {
    
    if (data.response.message == 'token generated') {
      $('#password').addClass('active');
      alert(data.response.message);
    }else{
      alert(data.response.message);
    }

    spinOut();

});


});
//Request password reset token

$('#password_request_form').submit(function(event) {
  
  $token = $('#r_token').val();
  $pwd = $('#r_pwd').val();
  $pwd_repeat = $('#r_pwd_repeat').val();

  if ($token == '' || $pwd == '' || $pwd_repeat == '') {
    alert('All fields are required');
  }else{

      if ($pwd != $pwd_repeat) {
        alert('Your password is not the same with your repeated password');
      }else{

spinIn();

          $.ajax({
    'url': url+'users/reset_password.json',
    'type': 'POST',
    'data': {'token': $token, 'mobile': profile.settings.mobile, 'password': $pwd}
  }).done( function (data) {

    if (data.response == 'Saved') {
      $('#r_token, #r_pwd, #r_pwd_repeat').val('');
      $('#password').removeClass('active');
      alert('Password successfully changed');
    }else{
      alert(data.response);
    }
    
    spinOut();
});

      }

  }


});


  }); 

</script>
<form onsubmit="return false;" id="settings_form">
<center>
<p align="center">You can modify the details of your account here</p>
</center>
  <div class="form-group">
    <label>First Name</label>
    <input type="text" placeholder="First Name" id="first_name">
  </div>
  <div class="form-group">
    <label>Last Name</label>
    <input type="text" placeholder="Last Name" id="last_name">
  </div>
  <div class="form-group">
    <label>Organization</label>
    <input type="text" placeholder="Organization" id="organization">
  </div>
  <div class="form-group">
    <label>Mobile Number</label>
    <input type="text" id="mobile" placeholder="Mobile Number">
  </div>
  <center>
  <p align="center">Do you want to change your password? Request for a password reset token</p>
  <button type="button" id="requestBtn" class="btn btn-negative" style="width: 50%; float: left; margin-bottom: 5px;">Request Token</button> 
  <a href="#password" class="btn btn-negative" style="width: 50%; float: left; margin-bottom: 5px;">Already have token</a> 
  </center>
  <button class="btn btn-negative btn-block" style="margin-top: 10px;">Update Profile</button>
</form>

<div id="password" class="modal" style="margin-left: -10px;">
  <header class="bar bar-nav">
    <a class="icon icon-close pull-right" href="#password" style="color: #fff !important"></a>
    <h1 class="title">Password Reset</h1>
    <a class="icon fa fa-spinner fa-pulse pull-left" id="p_spinner" style="display: none; color: #fff !important"></a>
  </header>

  <div class="content" style="background: #fff;">
    <p class="content-padded">Enter your password reset token sent to your mobile number and new password</p>
    <form onsubmit="return false;" class="content-padded" id="password_request_form">
<label>Password Token</label>
<input type="text" placeholder="Password Token" id="r_token">
<label>New Password</label>
<input type="password" placeholder="Password" id="r_pwd">
<label>Repeat Password</label>
<input type="password" placeholder="Repeat Password" id="r_pwd_repeat">
<button type="submit" class="btn btn-negative btn-block">Reset Password</button>
    </form>
  </div>
</div>