
<script>

  jQuery(document).ready(function() {
    $.getScript("js/imageUpload.js");

function spinIn() {
    $('#spinner').css('display', 'inline');
}

function spinOut() {
    $('#spinner').css('display', 'none');
}


          var url = 'http://178.62.41.199/bulksms/';
            //  var url = 'http://sms.bbnplace.com/new/api/';
            var app_id = '10000';

            var session_token = localStorage.getItem('session_token');

$('#activateScan').click(function() {
$('#scanFunction').fadeIn('slow');
});

    $('#scanBtn').click(function(){
spinIn();
        OCRAD(document.getElementById("image"), {
          numeric: true
        }, function(text){
          //alert(text);
          if (text == '') {
            alert('No numbers detected');
          }else{
            $('#result').text(text);
          }
          
          spinOut();
        })
      });

    $('#addContact').submit(function() {
      $mobile = $('#mobile').val();
      $first_name = $('#first_name').val();
      $last_name = $('#last_name').val();
      $full_name = $first_name+" "+$last_name;
      $organization = $('#organization').val();

      if ($mobile == '') {
        alert('Enter Mobile Number');
      }else{

spinIn();
  $.ajax({
    'url': url+'contacts/add/'+session_token+'.json',
    'type': 'POST',
    'data': {'mobile': $mobile, 'first_name': $first_name, 'last_name': $last_name, 'full_name': $full_name, 'organization': $organization}
  }).done( function (data) {
    if (data.contact == 'Saved') {

$('#mobile, #first_name, #last_name, #organization').val('');
alert('Contact has been successfully saved');

$.ajax({
    'url': url+'contacts/fetch_all/'+session_token+'.json',
    'type': 'GET'
  }).done( function (data) {

  $('#contactList').html('');

var Contacts = data.Contacts;
localStorage.setItem('contacts', JSON.stringify(Contacts));

});

$.getJSON(url+'users/get_settings/'+session_token+'.json', function(data) {
        localStorage.setItem('profile', JSON.stringify(data));
      });

    }else{
      alert(data.contact);
    }
    spinOut();
  });

      }

      return false;

    });

        
$('#syncBtn').click(function() {
  var contacts = JSON.parse( localStorage.getItem('phone_contacts') );
  for (var i=0; i<contacts.length; i++) {
            $('#phone_contact_list').append("<li class='table-view-cell'>"+contacts[i].displayName+" <p>"+contacts[i].phoneNumbers+"</p><p>"+contacts[i].organizations+"</p> <span class='badge' style='background-color: transparent;'><input type='checkbox' style='width: 20px; height: 20px;' /></span></li>");
        }
  $('#syncContacts').addClass('active');
});


  });



     
          
</script>
<label for="files" id="activateScan" class="btn btn-negative btn-block" style="margin-top: 10px; float: left; width: 50%;">Scan contacts <span class="fa fa-camera"></span>
</label>
<label class="btn btn-negative btn-block" id="syncBtn" style="margin-top: 10px; float: left; width: 50%;">Sync contacts <span class="fa fa-phone"></span>
</label>
<div id="scanFunction" style="display: none;">
  <p style="margin-top: 5px;">Dynamically maintain innovative niches before web-enabled meta-services.</p>
    <center>
    
                        <output id="list"><span id="span"></span></output>
                        <input type="file" accept="image/*" id="files" name="files[]" style="display: none" class="btn btn-primary" />

    </center>
    <div style="padding-right: 20px;">
<button class="btn btn-negative btn-block" style="margin-top: 10px; display: none;" id="scanBtn">Get numbers from image</button>
<p style="margin-top: 10px;" id="result"></p>
    </div>
</div>
<form style="" onsubmit="return false;" id="addContact">
  <div class="form-group">
    <label>Phone Number</label>
    <input type="text" id="mobile" placeholder="Phone Number">
  </div>
  <div class="form-group">
    <label>First name</label>
    <input type="text" id="first_name" placeholder="Full Name">
  </div>
  <div class="form-group">
    <label>Last name</label>
    <input type="text" id="last_name" placeholder="Last Name">
  </div>
  <div class="form-group">
  <label>Organization</label>
  <input type="text" id="organization" placeholder="Organization">
    
  </div>

  <button class="btn btn-negative btn-block" style="margin-top: 5px;">Add Contact</button>

</form>

<div id="groupModal" class="modal">
  <header class="bar bar-nav" style="margin-right: 20px;">
    <a class="icon icon-close pull-right" href="#groupModal"></a>
    <h1 class="title">Scan Contact</h1>
  </header>

  <div class="content">
    
  </div>
</div>



<div id="syncContacts" class="modal" style="margin-left: -10px; min-height: 500px;">
  <header class="bar bar-nav">
    <a class="icon icon-close pull-right" href="#syncContacts" style="color: #fff !important"></a>
    <h1 class="title">Synchronise Contacts</h1>
    <a class="icon fa fa-spinner fa-pulse pull-left" id="p_spinner" style="display: none; color: #fff !important"></a>
  </header>

  <div class="content" style="background: #fff;">
    <center>
    <span class="content-padded">Select contacts to be synchronised to your contact list</span>
</center>
<div class="card">
<ul class="table-view" id="phone_contact_list"></ul>
</div>
</p>

<!-- Block button in standard bar fixed above the footer -->
<div class="bar bar-standard bar-footer-secondary">
  <button class="btn btn-negative btn-block">Add Selected Contacts</button>
</div>
  </div>

</div>